<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
        body {
            background-image: url(../../Imagens/fundo2.png);
            background-repeat: no-repeat;
            background-size: cover
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Empresa", "Login", "Empresas", new { area = "" }, new { @class = "dropdown-item collapse" })</li>
                            <li>@Html.ActionLink("Entregadores", "Login", "Entregadors", new { area = "" }, new { @class = "dropdown-item collapse" })</li>
                            <li>@Html.ActionLink("Restaurante", "Login", "Restaurantes", new { area = "" }, new { @class = "dropdown-item collapse" })</li>
                            <li>@Html.ActionLink("Funcionário", "Login", "Pessoas", new { area = "" }, new { @class = "dropdown-item collapse" })</li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Packed Lunch.inc</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
